@model Hello.Application.MTbl_order.Tbl_orderResponse
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid p-0" style="height: 100vh;min-width: 1000px">
        <div class="float-right" style="width: 100%;height: 100vh;">
            <div class="p-2" style="        width: 100%;
        height: 55px;
        background: #D1CAFF
">
                <a href="/">
                    <div class="bg-white text-center pt-1 float-left mr-2" style="width: 50px;height: 100%;border-radius: 6px">
                        <i class="fa fa-home text-primary" aria-hidden="true" style="font-size: 200%"></i>
                    </div>
                </a>
            </div>
            <div class="container" style="height: 1000px">
                <div class=" p-3" style="width: 100%">
                    <div class="btn btn-primary float-left">Back</div>
                    <div id="nextStep" onclick="addPayment()" class="btn btn-primary float-right" style="display:none;">Confirm</div>
                    <p class="text-center font-weight-bold" style="font-size: 150%">Payment</p>
                    <div style="clear: both;"></div>
                    <div class="row m-0">
                        <div class="col-3 p-0">
                            <style type="text/css">
                                .typePaymentActive {
                                    color: #fff !important;
                                    background: #D1CAFF !important;
                                }
                            </style>
                            <div id="typePayment" class="p-2 text-primary" style="        border-radius: 8px;
        border: 2px solid #D1CAFF
">
                                <p class="  font-weight-bold mb-0"><i class="fa fa-money mr-3" aria-hidden="true"></i>Payment Cash</p>
                            </div>

                        </div>
                        <div class="col-9 pl-5 pr-0">
                            <div id="payDisplay" style="height: 170px;display: none;">
                                <div style="width: 100%;display: flex;">
                                    <div style="width: 25%">
                                        <p class="font-weight-bold text-center">Total</p>
                                    </div>
                                    <div style="width: 25%">
                                        <p class="font-weight-bold text-center">Pay</p>
                                    </div>
                                    <div style="width: 25%">
                                        <p class="font-weight-bold text-center">Refund</p>
                                    </div>
                                    <div style="width: 25%">
                                        <p class="font-weight-bold text-center">Method</p>
                                    </div>
                                </div>
                                <div class="shadow-ok" style="width: 100%;display: flex;height: 40px;border-radius: 8px">
                                    <div style="width: 25%">
                                        <p class="font-weight-bold text-center" style="font-size: 140%;line-height: 39px">@Html.DisplayFor(model => model.total)</p>
                                    </div>
                                    <div style="width: 25%">
                                        <p id="revice" class="font-weight-bold text-center text-primary" style="font-size: 140%;line-height: 39px"></p>
                                    </div>
                                    <div style="width: 25%">
                                        <p id="refund" class="font-weight-bold text-center" style="font-size: 140%;line-height: 39px"></p>
                                    </div>
                                    <div style="width: 25%">
                                        <p class="font-weight-bold text-center" style="font-size: 140%;line-height: 39px">Cash</p>
                                    </div>

                                </div>
                                <div class="shadow-ok bg-primary" style="width: 25%;border-radius: 8px">
                                    <p id="lackMoney" class="font-weight-bold text-center text-white" style="font-size: 140%;line-height: 39px">@Html.DisplayFor(model => model.total)</p>
                                </div>
                            </div>
                            <div id="totalDisplay" class="shadow-ok bg-white" style="height: 170px;border-radius: 10px;">
                                <p class="text-primary font-weight-bold text-center" style="font-size: 350%;line-height: 165px">@Html.DisplayFor(model => model.total) ৳</p>
                            </div>
                            <div class="row m-0 pt-3" style="height: 330px;">
                                <div class="shadow-ok" style="width: 350px;height: 100%;">
                                    <div style="width: 100%;height: 100%;border-radius: 5px">
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_1" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">1</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_2" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">2</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_3" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">3</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_10" class="bg-white shadow-ok2 font-weight-bold text-center pt-2" style="height: 100%;border-radius: 5px;font-size: 200%">
                                                +10
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_4" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">4</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_5" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">5</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_6" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">6</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_20" class="bg-white shadow-ok2 font-weight-bold text-center pt-2" style="height: 100%;border-radius: 5px;font-size: 200%">
                                                +20
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_7" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">7</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_8" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">8</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_9" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">9</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_50" class="bg-white shadow-ok2 font-weight-bold text-center pt-2" style="height: 100%;border-radius: 5px;font-size: 200%">
                                                +50
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_c" class="bg-white shadow-ok2 font-weight-bold text-center pt-2" style="height: 100%;border-radius: 5px;font-size: 200%">
                                                C
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_0" class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">0</p>
                                            </div>
                                        </div>
                                        <div class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div class="bg-white shadow-ok2" style="height: 100%;border-radius: 5px">
                                                <p class="text-center font-weight-bold text-primary pt-2" style="font-size: 200%">.</p>
                                            </div>
                                        </div>
                                        <div id="number_a" class="float-left p-1" style="width: 25%;height: 25%;">
                                            <div id="number_a" class="bg-white shadow-ok2 font-weight-bold text-center pt-2" style="height: 100%;border-radius: 5px;font-size: 200%">
                                                <i class="fa fa-reply-all" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-3" style="width: calc(100% - 350px);">
                                    <div onclick="fetchUser()" data-toggle="modal" data-target="#exampleModal" class="bg-white shadow-ok text-center p-2" style="width: 100%;border-radius: 8px">
                                        <p id="selectUserDisplay" class="font-weight-bold mb-0 text-primary" style="font-size: 180%"><i class="fa fa-user-circle-o mr-3" aria-hidden="true"></i>Customer</p>
                                    </div>
                                </div>
                                <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <input id="inputSearch" class="form-control float-left" style="width: 25%" placeholder="Name">
                                                <a href="User">
                                                <div class="btn btn-primary ml-2"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                                                </a>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="p-2">
                                                    <p class="float-left font-weight-bold mb-0" style="width: 30%">Name</p>
                                                    <p class="float-left font-weight-bold mb-0" style="width: 50%">Address</p>
                                                    <p class="float-left font-weight-bold mb-0" style="width: 20%">Phone</p>
                                                    <div style="clear: both;"></div>
                                                </div>
                                                <style type="text/css">
                                                    .infoCustomer--box:hover {
                                                        background: #D1CAFF;
                                                    }
                                                </style>
                                                <div id="fetchUser">
                                                    
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#inputSearch').on('keyup', function () {
            var fetchUser = $("#fetchUser");
            fetchUser.html("");
            var inputSearch = $("#inputSearch").val();
            console.log(inputSearch);
            $(document).ready(function () {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "https://localhost:44358/api/Tbl_user/SearchUser",
                    data: JSON.stringify({
                        name: "%" + inputSearch + "%",
                    }),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    contentType: "html",
                    success: function (data) {
                        $.each(data, function (index, value) {
                            var Data = `<div data-dismiss="modal" aria-label="Close" onclick="selectCustomer(` + value.id + `,'` + value.name + `')" class="infoCustomer--box p-2">
                                        <p class="float-left mb-0" style="width: 30%;">`+ value.name + `</p>
                                        <p class="float-left mb-0" style="width: 50%;">`+ value.address + `</p>
                                        <p class="float-left mb-0" style="width: 20%;">`+ value.phone + `</p>
                                        <div style="clear: both;"></div>
                                    </div>`;
                            fetchUser.append(Data);
                        }
                        )
                    }
                });
            })
        })


        function fetchUser() {
            var fetchUser = $("#fetchUser");
            fetchUser.html("");
            $.ajax({
                type: "get",
                dataType: "json",
                url: "https://localhost:44358/api/Tbl_user",
                contentType: "html",
                success: function (data) {
                    //console.log(data);
                    $.each(data, function (index, value) {
                        var Data = `<div data-dismiss="modal" aria-label="Close" onclick="selectCustomer(` + value.id + `,'` + value.name + `')" class="infoCustomer--box p-2">
                                        <p class="float-left mb-0" style="width: 30%;">`+ value.name + `</p>
                                        <p class="float-left mb-0" style="width: 50%;">`+ value.address + `</p>
                                        <p class="float-left mb-0" style="width: 20%;">`+ value.phone + `</p>
                                        <div style="clear: both;"></div>
                                    </div>`;
                        fetchUser.append(Data);
                    }
                    )
                }
            });
        }
        var iduser = 0;
        console.log(iduser);
        function selectCustomer(id,name) {
            $("#selectUserDisplay").text(name);
            iduser = id;
            console.log(iduser);
            console.log(name);
        }

	var choosePayment = 0;
	$(document).ready(function () {
		$("#typePayment").click(function(){
			$("#typePayment").addClass('typePaymentActive');
			$("#totalDisplay").hide();
			$("#payDisplay").show();
			choosePayment=1;
			console.log(choosePayment);
		})
	});



	var number="";

	$("#number_1").click(function(){
		if(choosePayment==1){
			number=number+"1";
			console.log(number);
			addMoney();
		}
	});
	$("#number_2").click(function(){
		if(choosePayment==1){
			number=number+"2";
			console.log(number);
			addMoney();
		}
	});
	$("#number_3").click(function(){
		if(choosePayment==1){
			number=number+"3";
			console.log(number);
			addMoney();
		}
	});
	$("#number_4").click(function(){
		if(choosePayment==1){
			number=number+"4";
			console.log(number);
			addMoney();
		}
	});
	$("#number_5").click(function(){
		if(choosePayment==1){
			number=number+"5";
			console.log(number);
			addMoney();
		}
	});
	$("#number_6").click(function(){
		if(choosePayment==1){
			number=number+"6";
			console.log(number);
			addMoney();
		}
	});
	$("#number_7").click(function(){
		if(choosePayment==1){
			number=number+"7";
			console.log(number);
			addMoney();
		}
	});
	$("#number_8").click(function(){
		if(choosePayment==1){
			number=number+"8";
			console.log(number);
			addMoney();
		}
	});
	$("#number_9").click(function(){
		if(choosePayment==1){
			number=number+"9";
			console.log(number);
			addMoney();
		}
	});
	$("#number_0").click(function(){
		if(choosePayment==1){
			number=number+"0";
			console.log(number);
			addMoney();
		}
	});
	$("#number_a").click(function(){
		if(choosePayment==1){
			var string = number.toString();
			var result = string.substring(0, string.length - 1);
			number=result
			console.log(number);
			addMoney();
		}
	});
	$("#number_c").click(function(){
		if(choosePayment==1){
			number="";
			console.log(number);
			addMoney();
		}
	});
	$("#number_10").click(function(){
		if(choosePayment==1){
			number=1*number+10;
			console.log(number);
			addMoney();
		}
	});
	$("#number_20").click(function(){
		if(choosePayment==1){
			number=1*number+20;
			console.log(number);
			addMoney();
		}
	});
	$("#number_50").click(function(){
		if(choosePayment==1){
			number=1*number+50;
			console.log(number);
			addMoney();
		}
	});





        var receive = 0;
        var refund = 0;
        var type = 0;

        

        var lackMoney = 0;
	function addMoney(){
        $("#revice").text(number);

        lackMoney = @Html.DisplayFor(model => model.total)-number;
        $("#lackMoney").text(lackMoney);
        if (lackMoney < 0) {
            $("#refund").text(lackMoney * (-1));
            $("#nextStep").show();
        }
        receive = number;
        refund = lackMoney * (-1);
    }

        function addPayment() {
            if (lackMoney < 0) {
            $.ajax({
                method: "post",
                url: "https://localhost:44358/api/Tbl_payment/Create",
                data: JSON.stringify({
                    receive: parseInt(receive),
                    refund: parseInt(refund),
                    type: parseInt(type)
                }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    addBill();
                }
            });
        }
        }
        function addBill() {
            $.ajax({
                method: "post",
                url: "https://localhost:44358/api/Tbl_bill/Create",
                data: JSON.stringify({
                    iduser: parseInt(iduser)
                }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    window.location.href = "/Payment";
                }
            });
        }

        
    </script>




